{% extends 'base.html' %}

{% block template_content %}

<!-- FLASH MESSAGE - LOGOUT ETC -->
{% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
{% for category, message in messages %}
<div class="alert-wrapper">
  <div class="alert-container-index">
    <div class="alert {{ category }}">
      <button type="button" class="close" data-dismiss="alert">&times;</button> {{ message|capitalize }}
    </div> {% endfor %} {% endif %} {% endwith %}
  </div>
</div>
<!-- MASTHEAD -->
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-text-bkg">
        <div class="intro-lead-in">Welcome to: </div>
        <div class="intro-heading text-uppercase">The &#123;&#123;Cookbook&#125;&#125;</div>
        <!-- Button trigger signup modal -->
        {% if not session['isLoggedin']%}
        <a href="#" onclick="$('#signupModal').modal({'backdrop': 'static'});">
          <button type="button" class="btn btn-primary mastheadbtn" data-toggle="modal" data-target="#signupModal">
            REGISTER
          </button>
        </a>
        {% endif %}
        <!-- Button to recipe searching -->
        <a href="recipesearch">
          <button type="button" class="btn btn-primary mastheadbtn">
            OPEN THE COOKBOOK
          </button>
        </a>
      </div>
    </div>
  </div>
</header>

<!-- Services -->
<section id="services">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <a href="/recipesearch"><i class="fas fa-utensils fa-stack-1x fa-inverse text-inverse"></i></a>
        </span>
        <h4 class="service-heading">View Recipes</h4>
        <p class="text-muted">View and search for recipes</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="far fa-edit fa-stack-1x fa-inverse text-inverse"></i>
        </span>
        <h4 class="service-heading">Add Recipes</h4>
        <p class="text-muted">Register with us to add & edit your own recipes</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="far fa-list-alt fa-stack-1x fa-inverse text-inverse"></i>
        </span>
        <h4 class="service-heading">Favourite Recipes</h4>
        <p class="text-muted">Register with us to create a favourite recipe list (coming soon)</p>
      </div>
    </div>
  </div>
</section>

<div class="row">
  <div class="col-12">
    <button onclick="topFunction()" id="backtotopIcon" title="Go to top"></button>
  </div>
</div>

{% endblock %}